:root {
  /* ====================================================
     Base colors
     ==================================================== */
  --primary: #354f8b;
  --secondary: #5849f9;
  --success: #32c18a;
  --warning: #ffc94a;
  --danger: #da4242;
  --info: #3780ca;
}
