:root {
  /* ====================================================
     Base colors
     ==================================================== */
  --primary: #102724;
  --secondary: #ddac8a;
  --success: #32c18a;
  --warning: #ffc94a;
  --danger: #da4242;
  --info: #3780ca;
  --bg: rgb(250, 250, 250);
}
