.form-input {
    width: 100%;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.form-input input,  .form-input select{
    width: 100%;
    font-family: var(--font-secondary);
    padding: 0.5rem;
    margin-bottom: 0.25rem !important;
    position: relative;
    transition: all 500ms;
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: gainsboro;
    box-sizing: border-box;
    margin: 0px;
}

.form-input:focus-within::after {
    width: 100%;
    left: 0;
    right: unset; 
}

.form-input label {
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.form-input label.required span {
    color: red;
}
.form-input:focus-within label {
    opacity: 1;
}

input, select, textarea {
    padding: 0.5rem;
    width: 100%;
    outline: none;
    border: rgba(213, 213, 213, 0.564) solid 1px;;
    border-radius: 0.5rem !important;
    box-sizing: border-box;
    font-family: var(--font-secondary);
    transition: all 0.5s;
    resize: none;
    font-size: 1rem !important;
}

input:focus,select:focus,  textarea:focus {
    border: rgba(0, 0, 0, 0.564) solid 1px;;
   
}

.form-input input[readonly] {
    border-color: #e0e0e0 !important;
    color: #7a7a7a !important
}

.input-row {
    display: flex;
    gap: 0px !important;
}
.input-row input {
    margin-bottom: 0px !important;
    border-radius: 0 !important;
}
.input-row button {
    display: flex;
    height: fit-content;

    flex: 1 1 !important;
    padding:.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-family: var(--font-secondary);
    background: var(--primary);
    border: var(--primary-light) solid 1px !important;
    color: #ffffff !important;
    border-radius: 0.5rem !important;
    border: none;
    font-size: 1rem;
    height: 100% !important;
    transition: all 500ms !important;
    text-decoration: none;   
   box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}
.input-row button:first-of-type {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-row button:last-of-type {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}