.sidebar {
  color: #102724 !important;
  background: white;
  overflow: hidden;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  position: relative;
  width: 15dvw !important;
  z-index: 100000;
  height: 100dvh;
  position: sticky;
  top: 0;
  box-sizing: border-box !important;
}

.sidebar * {
  box-sizing: border-box;
}
.sidebar nav:last-child {
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
.sidebar__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #cccccc7f;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
.sidebar__nav-logo p {
  font-size: 0.85rem;
  opacity: 0.6;
}
.sidebar i {
  color: rgb(0, 0, 0);
}
.sidebar hr {
  width: 100%;
}
.sidebar .sidebar__nav__item {
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.099), 0 1px 2px -1px rgba(48, 36, 36, 0.186); */
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem;
  /* color: rgba(255, 255, 255, 0.333) !important; */
  position: relative;
  color: black;
  transition: all 0.3s;
  display: flex;
  align-items: center !important;
  transition: all 0.5s ease;
  width: 100%;
  gap: 0.25rem;
}
.sidebar .sidebar__nav__item:hover {
  background-color: #cccccc3f;
}
.sidebar .sidebar__nav__item.danger:hover {
  background-color: #d6bcbc3f;

}
.sidebar .sidebar__nav__item.danger:hover p {
color: rgb(183, 24, 24) !important;
}
.sidebar .sidebar__nav__item div {
  align-items: center;
  color: black;
  position: relative;
}
.sidebar.open p {
  margin: 0px !important;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 1.5rem;
  /* user-select: all; */
  opacity: 1;
}
.sidebar__section-label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #9d9d9d;
  margin: 1rem 0 0.25rem 0;
  padding-left: 1rem;
  position: relative !important;
  text-align: start !important;
  left: 0 !important;
  align-self: start;
  text-align: start !important;
  padding: 0px;
  opacity: 0.3 !important
}

.sidebar {
  transition: all 1s ease;
}

.sidebar p {
  transition: all 1s ease;
  margin: 0px !important;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 5rem;
  opacity: 0;
  user-select: none;
}

.sidebar a {
  text-decoration: none;
  color: black;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
}
.sidebar .sidebar__nav__item div {
  display: flex;
  gap: 0.25rem;
}
.sidebar .sidebar__nav__item {
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}
.sidebar .sidebar__nav__item.active {
  background: rgba(199, 223, 220, 0.481);
  box-shadow: inset 0 1px 2px 0 rgba(255, 255, 255, 0.601);
}

.sidebar .sidebar__nav__item.active i {
  color: var(--primary) !important;
  font-weight: bold;
}
.sidebar .sidebar__logo {
  color: var(--primary) !important;
  font-family: var(--font-primary);
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}


.sidebar .logout {
  display: none !important;
}
@media print {
  .sidebar {
    display: none;
  }
}


@media (max-width: 1023px) {
  .sidebar .logout {
    display: flex !important;
  }
  .sidebar__nav-logo, .sidebar__section-label {
    display: none;
  }
  .version {
    display: none;
  }
  .sidebar {
    margin-right: 0px !important;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    top: unset;
    width: 100dvw !important;
    box-sizing: border-box !important;
    /* height: fit-content; */
    height: 60.5px;
    border-top: 0.5px rgba(128, 128, 128, 0.482) solid;
  }

  .sidebar__nav {
    flex-direction: row;
  }
  .sidebar__nav__item {
    text-align: center;
    justify-content: center;
  }
  .sidebar__nav__item p {
    text-wrap: nowrap;
  }
  .sidebar__nav__item p {
    display: none;
  }
  .sidebar h3 {
    display: none;
  }
}
.signout {
  margin-top: auto !important;
  display: flex;
}

.version {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;

  opacity: 0.5;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-style: italic;
}
:root {
  --primary-blur: #94ffda4b;
}

.sidebar::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  filter: blur(100px);
  width: 20rem;
  height: 20rem;
  border-radius: 9999px;
  transform: translate(-50%, 50%);
  background-color: var(--primary-blur);
  pointer-events: none;
}

.sidebar::before {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  pointer-events: none;
  filter: blur(100px);
  width: 20rem;
  height: 20rem;
  border-radius: 9999px;
  transform: translate(50%, -50%);
  background-color: var(--primary-blur);
}
