
@font-face {
    font-family: "Lazni";
    src: url("../../Brice-Regular.woff") format("truetype");
}


@font-face {
    font-family: "Mazzard";
    src: url("../font/MazzardH-Regular.ttf") format("truetype");
}
