@import url("./root.css");
@import url("./fonts.css");
@import url("./hgi.css");
@import url("./components/modal.css")
;
@import url("./components/button.css")
;

@import url("./components/input.css");

.modal-box h3 {
    margin-top: 0px;
}
#app {
    height: 100dvh;
    width :100dvw;
    overflow: hidden;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
}
html, body, main, #app {
    overflow-x: hidden !important;
}

*:focus {
    outline: none !important;
}
main {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.main__content {
    display: flex;
padding: 0 !important;
background-color: var(--primary);
height: 100dvh;
box-sizing: border-box;
    /* gap: 0.75rem; */

}

body {
    font-family: var(--font-secondary);
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}


[class*=__content] {
    width: 100% !important;
    margin: 0 auto;
}
[class*=__container] {
    display: flex;
    max-width: 102.5rem;
    margin: 0 auto !important;
    width: calc(100% - 1.5rem);
    padding: 0 0.75rem !important;
}
.main__container {
    margin: 0 auto;
    padding: 0 0 !important;
    width: 100%;
}
@media (max-width: 1024px) {
    #app {
        display: flex !important;
        flex-direction: column;
    }
    .main__container {
        margin: 0 auto;
        padding: 0 0 !important;
        width: 100%;
    }
    .main__content { 
        flex-direction: column;
        padding: 0px !important;
        overflow: hidden;
        width: 100%;
        gap: 0.75rem;

    
    }

    .sidebar{
        width: calc(100% - 2rem) !important;
    }
}

a {
    text-decoration: none;
    color: inherit
}

h1, h2, h3, h4,h5,h6,p {
    margin: 0px;
}
.toast {
    background-image: none !important;
    background-position: 1000000% !important;
    padding: .5rem !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
    transition: all 0.5s;
    padding-left: 2.5rem !important;
    opacity: 1 !important;
}

.toast:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}
.toast.toast-success {
    background-color:#ffffffb4;
    backdrop-filter:  blur(8px);;
    color: black !important;
    border: solid 1px #317967;
}
.toast.toast-error{
    background-color:#ffffffb4;
    backdrop-filter:  blur(8px);;
    color: black !important;
    border: solid 1px rgb(210, 55, 55);
}
.toast.toast-info{
    background-color:#ffffffb4;
    backdrop-filter:  blur(8px);;
    color: black !important;
    border: solid 1px rgb(55, 135, 210);
}
.toast.toast-warning{
    background-color:#ffffffb4;
    backdrop-filter:  blur(8px);;
    color: black !important;
    border: solid 1px rgb(210, 158, 55);
}
.toast.toast-error::before {
    position: absolute;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
    content: "×";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(210, 55, 55);
    /* border-radius: 9999px; */
    padding: 0.5rem;
}
.toast.toast-success::before {
    position: absolute;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
    content: "✓";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: #317967;
    /* border-radius: 9999px; */
    padding: 0.5rem;
}
.toast.toast-info::before {
    position: absolute;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
    content: "⚠";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 135, 210);
    /* border-radius: 9999px; */
    padding: 0.5rem;
}
.toast.toast-warning::before {
    position: absolute;
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
    content: "⚠";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(210, 158, 55);
    /* border-radius: 9999px; */
    padding: 0.5rem;
}
#toast-container {
    z-index: 1000000 !important;
}

.placeholder {
    user-select: none;
}

.modal-box {
    max-height: 90dvh
}

.main__container, .main__content {
    background-color: var(--bg) !important;
}

.modal-action {
    margin-top: 1rem !important;
}

#toast-container {
    z-index: 100000000 !important
}

.fc-button-group .fc-button {
    background: none !important;
    color: var(--primary) !important;
    font-size: .75rem;
}

.fc-button-group .fc-button:focus {
    outline: none !important;
}

.fc-button-group  .fc-button:first-of-type {
    border-radius: 0.5rem 0rem 0rem 0.5rem !important;
}
.fc-button-group  .fc-button:last-of-type {
    border-radius: 0rem 0.5rem .5rem 0rem !important;
}

.fc-button-group  .fc-button {
    border-radius: 0px !important;
}
.fc-button-group  .fc-button:hover {
    background-color: var(--primary-shade) !important;
}
.fc-button-group .fc-button-active {
    background-color: var(--primary) !important;
    color: white !important
}

body:has(.dogovir__container), html:has(.dogovir__container) {
    overflow: hidden;
}
@media (max-width: 1024px) {
    .fc-header-toolbar {
        flex-direction: column !important;
        gap: 0.5rem;
    }
    .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
        align-self: start !important;
    }
    .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
        align-self: end !important;
    }

}

a:focus  p {
    outline: none !important;
}