
.bookings-list {
  width: 100%;
   border-collapse: separate;
  border-spacing: 0;
}

.booking-item {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.375rem;
  padding: 0.5rem;
  border: solid 1px #cccccc88;
  display: flex;
  justify-content: space-between;
}

.booking-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.booking-badge {
  background-color: red;
  width: fit-content;
  padding: 0.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
}

.booking-badge.family {
  background-color: #3F85FD;
}

.booking-badge.right {
  background-color: #808080;
}

.booking-badge.left {
  background-color: #0cd775;
}

.booking-item__actions {
  display: flex;
  gap: 0.25rem;
  height: fit-content
}

.geust-card__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.bookings-list th,
.bookings-list td {
  width: fit-content;
  text-align: start;
}
.bookings-list tr:first-child td {
  border-top: solid 1px #cccccc88;
}
.bookings-list tr td {
  border-bottom: solid 1px #cccccc88;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.booking__actions {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 0.25rem !important;
  justify-content: start !important;
}

.booking-actions {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 0.25rem !important;
}

.house-select {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.house-option {
  flex: 1;
  padding: 0.75rem;
  border: 2px solid transparent;
  border-radius: 0.75rem;
  text-align: center;
  cursor: pointer;
  background: #f9f9f9;
  transition: all 0.2s ease;
}

.house-option.selected {
  border-color: #4caf50;
  background: #e7fbe7;
}

.service-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5rem;
  margin: 0.25rem 0;
}

.duration-input {
  width: 5rem;
  padding: 0.25rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
}

.select-input {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

button.house {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  background: #eee !important;
  cursor: pointer;
  color: black !important;
}

.house.selected {
  background: #00695c !important;
  color: white !important;
}

button.house:hover {
  color: rgb(255, 255, 255) !important
}
button.house:disabled {
  color: rgba(155, 155, 155, 0.427) !important
}
button.house:disabled:hover {
  color: rgba(255, 67, 67, 0.427) !important;
  background-color: #80808043 !important;
}
.input-row {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.daily-card {
  border: 1px solid #ddd;
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.option-block {
  margin-top: 0.5rem;
}

.fill-options label {
  display: block;
  /* border: red solid; */
  display: flex;
  margin-left: 1rem;
}

.fill-options label input {
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;

  accent-color: var(--primary);
  padding: 0.5rem;
}

.fill-options label input {
  /* display: none; */
}

.fill-options label input[checked]::after {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.option-block input[type="checkbox"] {
  width: 1rem;
}

.booking-date {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.toggle-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.toggle-btn.primary {
  border-color: #ccc !important;
  color: var(--primary) !important;
  background-color: #ffffff !important;
}

.toggle-btn:hover,
.toggle-btn.primary:hover {
  background-color: #e5e7eb !important;
}

.toggle-btn.secondary {
  background-color: #e5e7eb;
  border-color: #ccc !important;
  color: #1111115c !important;
}

.toggle-btn {
  gap: .25rem !important;
}

.toggle-btn span {
  height: 20px !important
}

.fill-buttons .toggle-btn.primary {
  background-color: white !important;
  border-color: var(--primary) !important
}

.fill-buttons {
  height: 1.875rem !important;
  display: flex;
  gap: 0.25rem;
}

.fill-options label {
  margin: 0px !important;
}

.option-subblock {
  background-color: #ffffff !important;
  padding: 0.5rem;
  border: solid 1px #ccc;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.sub-tab.toggle-btn.primary {
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: 0 0 #0000;
}

.sub-tab.toggle-btn.primary:hover {
  background-color: white !important;
}

.sub-tab.toggle-btn {
  position: relative
}

.sub-tab.toggle-btn.primary::after {
  width: 100% !important;
  content: " ";
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  height: 4px !important;
  background-color: #ffffff !important;
  backdrop-filter: blur(40px);
  position: absolute !important;
  transform: translateY(2.5px);
  bottom: 0 !important;
  left: -1px !important;
  z-index: 100
}

.dogovir-badge {}

.dogovir-badge {
  position: relative;
}

.dogovir-badge::after {
  opacity: 0;
  position: absolute;
  background-color: #fcfcfca2;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0.25rem;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  top: 0%;
  left: 50%;
  text-wrap: nowrap;
  ;
  transform: translate(-50%, -100%) scale(.85);
  ;
  content: attr(data-sign-stamp);
  transition: all 0.5s ease;


}

.dogovir-badge:hover::after {
  opacity: 1;
  transform: translate(-50%, calc(-100% - 0.5rem)) scale(1);
  ;
}

td mark {
  background-color: transparent;
  color: var(--primary-light)
}

.select-input {

  width: fit-content;
  border-radius: 0.375rem;
  gap: 0.25rem;
  border: solid #ccc 1px;
  padding: 0.25rem;
  border-radius: .5rem;
}

.select-input button {
  color: rgba(0, 0, 0, 0.55) !important;
  border-color: transparent !important;
  background-color: transparent !important;
  box-shadow: 0 0 #0000 !important;
  border-radius: 0.25rem !important;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.select-input button.selected {
  background-color: var(--primary) !important;
}

.select-input button:not(.selected):hover {
  background-color: #d3d3d385 !important;
  color: black !important;
}
.select-input button:not(.selected):disabled:hover {
  background-color: #d3d3d346 !important;
  color: rgb(189, 189, 189) !important;
}
.number-input {
  display: flex;
  gap: 0.5rem;
}

.type-list {
  display: flex;;
  flex-direction: column;
  gap: 0.25rem !important;
  /* border: red solid; */
}
.form-input {
  transition: all 0.5s ease
}
.form-input label {
  display: block;
  margin-top: 0.5rem;
}

.form-input.blured *:not(label), .booking-date.blured *:not(label), .daily-options.blured * {
  filter: blur(1px);
  pointer-events: none;
  opacity: 0.5
}
.no-bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-bookings td {
  width: 100%;
  box-sizing: border-box;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-bookings i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #ccc
}
.no-bookings p {
  margin-bottom: 0.5rem;
}
.guest-bookings {
  grid-column: span 2 / span 2;
}
@media (max-width: 1024px) {
  .guest-bookings {
  grid-column: span 1 / span 1 !important;
}
}
.bookings-list {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.booking-card {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: solid 1px #cccccc64;
    border-radius: 0.5rem !important;
}
.booking-card__header {
  display: flex;
  gap: 0.5rem;
}

.booking-card mark {
  opacity: .5;
  background-color: transparent;
}
.services {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
}
.service-item {
  padding: .5rem;
  border-radius: 0.5rem;
  border: #ccc solid 1px
}
.service-item p {
    font-weight: bold;
}

.services-section {
    padding: 1rem;
    border: solid 1px #ccc;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}
* > .services-section{
  border: none;
  padding: 0;
}
.services-section h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.items-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.booking-actions {
  display: flex;
  width: fit-content;
  flex-direction: row;
  gap: 1rem !important;
  margin-top: 0.5rem;
}