@import url(../root.css);
@import url(../fonts.css);
@import url(../components/button.css);
@import url(../components/alert.css);
@import url(../components/anchor.css);
#app {
    background: linear-gradient(45deg,var(--bg), #ebf8f7, #dbede0) ;;
}
#app {
    color: var(--primary);
    display: flex;
    height: 100dvh;
    overflow: hidden;
   
    font-family: var(--font-secondary);
}



*:not(button, input, label) {
    user-select: none;
}

form {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    width: 100%;
    max-width: 250px;;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form p {
    width:1 100%;
    text-align: center;
    margin: 0pc;
    letter-spacing: 0.3rem;
    opacity: 0.4;
}

.form-input {
    width: 100%;
    position: relative;
    display: block;
    border-radius: 0.25rem;
    box-sizing: border-box; /* Ensures borders are included in the width */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.form-input i {
    position: absolute;
    z-index: 10000;
    right: 6px;;
    top: 55%;
    transform: translateY(-50%);
}
.form-input input {
    width: 100%; /* Matches container width */
    font-family: var(--font-secondary);
    padding: 0.5rem;
    margin-bottom: 0.25rem;
    position: relative;
    transition: all 500ms;
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: #4a4a4a1a;
    box-sizing: border-box; /* Ensures borders and padding are included */
    margin: 0px;
}
.form-input :focus-within {
    border: var(--primary) solid 1px;
}
/* .form-input::before {
    content: " ";
    position: absolute;
    z-index: 1000;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: var(--primary-shade);
    height: 2px;
}

.form-input::after {
    content: " ";
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    width: 0%;
    background-color: var(--primary);
    height: 2px;
    transition: all 0.7s ease;
} */

.form-input:focus-within::after {
    width: 100%;
    left: 0; /* Expand to the left */
    right: unset; /* Unset right to allow expansion */
}

.form-input:last-of-type{
    margin-top: 6px;
}

*:focus {
    outline: none;
}

a {
    margin-top: 6px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #4a4a4a;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #ffffff00;
}

section {
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    padding: 1rem;
    font-weight: normal !important;
    font-family: var(--font-secondary);
    background-color: white;
    border-radius: 1.3rem;
}
h1 {
    margin: 0 auto;
    font-weight: normal;
    font-family: var(--font-primary);
}


button:last-child {
    margin: 0px;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
