body {
   
    background-position: center;
    overflow: hidden;
    background-size: cover;
    background-color: var(--primary);
}
/* body::after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background-color: rgba(193, 193, 193, 0.14);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
} */

html {
    overflow: hidden;
}

/* .content {
    width: calc( 100%)
}
.img-container {
    padding: 0.5rem !important;
    border-radius: 0.5rem !important;
}
.qr {
    border-radius: 3rem !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

img {
    margin-top: 0px !important;
}
@media (max-width: 768px) {
    .qr {
        max-width: 80dvw !important;
      
    }
    img {
        width: 100% !important;
    }
    .img-container {
        padding: 0.5rem !important;
        border-radius: 0.5rem !important;
    }
} */


.qr-wrapper {
  /* background-image: url("/assets/img/lkbg.jpeg"); */
  width: 100dvw;
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

    .content {
        z-index: 100000;
        display: flex;flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 40rem;
        margin: 0 auto;;
        font-family: var(--font-secondary);
        padding-bottom: 1rem;
        justify-content:center ;
        align-items: center;
       
       
    }

.qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: white;
    background-color: var(--primary);
    border-radius: 6rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100dvw;

box-sizing: border-box;    /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); */
}

.content {
    padding: 0px !important;
}

.qr img {
    margin: 0 auto;
    width: 30rem;
    max-width: 70dvw;
    margin-top: 0px !important;
    border-radius: 1rem !important;
}

.calendar__cell {
    z-index: 100 !important;
    position: relative;
}

.booking {
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
}

.booking__icon {
    padding: 0.25rem;
    border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.img-container {
    padding: 2rem;
    background-color: rgb(255 255 255);
    border-radius: 4rem;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: .75rem !important;
}
.booking.f .booking__icon{
    background-color: rgba(0, 102, 255, 0.22);
    & * {
        stroke: rgb(0, 123, 255);
    }
   
}
.booking.l .booking__icon{
    background-color: rgba(59, 211, 122, 0.22);
    & * {
        stroke: rgb(38, 197, 104);
    }
}
.booking.f .booking__icon{
    background-color: rgba(0, 102, 255, 0.22);
    & * {
        stroke: rgb(0, 123, 255);
    }
}
.booking.r .booking__icon{
    background-color: rgba(130, 130, 130, 0.22);
    & * {
        stroke: rgb(79, 79, 79);
    }
}
.boookings {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1;
    max-height: calc(100dvh - 12.5rem);
    height: fit-content;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-bottom: 0.5rem;
}

.info__item {
    flex: 1 1;
}

.info__item.list {
    padding-bottom: 0px !important;
}
.auth h1 {
    margin-bottom: 0.5rem !important;
    font-weight: 700;
}
.auth p {
    margin: 0px !important;
    font-family: "Lazni";
}
